//
// Overflows
//

.o-visible {
  overflow: visible;
}
.o-hidden {
  overflow: hidden;
}
.o-scroll {
  overflow: scroll;
}

.ox-visible {
  overflow-x: visible;
}
.ox-hidden {
  overflow-x: hidden;
}
.ox-scroll {
  overflow-x: scroll;
}

.oy-visible {
  overflow-y: visible;
}
.oy-hidden {
  overflow-y: hidden;
}
.oy-scroll {
  overflow-y: scroll;
}
