.site__login {
  margin-top: 15vh;

  @include media-breakpoint-down(xs) {
    margin-top: 3 * $spacer;

    .card {
      border-left: transparent;
      border-right: transparent;
      border-radius: 0;
    }
  }
}

.site__tabs {
  margin: $spacer * 3 0;

  @include media-breakpoint-down(md) {
    margin: $spacer * 2 0;
  }

  @include media-breakpoint-down(sm) {
    margin: $spacer * 1.5 0;
  }
}
