.lock-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lock-screen__wrapper {
  margin-top: -25%;
}

.lock-screen__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bold;
}

.lock-screen__img {
  height: 100px;
  margin-bottom: $spacer * 2;
}
